.add-task {
  color: white;
  background-color: #6F8CC8;
  margin-top: 8px;
}

.add-task:hover {
  color: #333;
  background-color: #e6e6e6;
}

.panel {
  margin-top: 2%;
}

.panel-heading {
  background-color: #6F8CC8;
}

.panel-title {
  font-size: 1.8em;
}
